# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Staticfiles
staticfiles/

# Compiled messages
*.mo

# Log files
*.log

# IDE files
.idea
*.iml
*.ipr
*.iws
.settings
.project
.pydevproject
.directory

# Script for PROD env
prod.sh
