wheel
Django==2.0.7
dj-database-url==0.5.0
django-admin-view-permission==1.6
django-admin-list-filter-dropdown==1.0.1
-e git://github.com/modlinltd/django-advanced-filters.git@80e055e870ae7653213acd75a28dcb9bfa0e75af#egg=django-advanced-filters
