name: Docker Image CI

on: [push, pull_request]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker-build.sh
    - name: Run tests
      run: docker run --rm -e PROCESS_TYPE=test --name django-coleman mrsarm/django-coleman
